*{
    margin: 0;
    padding: 0;
    background: #cacfd2;
}
#header{
    width: 1400px;
    height: 80px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
.avatar{
    width: 70px;
    height: 70px;
}
#header h4{
    color: black;
    margin-left: 500px;
    margin-top: -40px;
    background-color: white;
}
#nav{
    background-color: #ffae00;
    width: auto;
    height: 80px;
    margin-top: 20px;
}
.in1{
    margin-top:30px ;
    margin-left: 50px;
    border-radius: 28px;
    height: 30px;
    background: #0d1737;
    color: white;
    border: none;   
}
#section{
    background-color: #0d1737;
    margin-top: 20px;
    width: 370px;
    height: 400px;
    color: white;
}
.article{
    height: 380px;
    width: 350px;
    background-color: white;
    color: black;
}
#aside{
    background-color: white;
    width: 900px;
    margin-left:400px ;
    margin-top: -400px;
    background-color:#0d1737 ;
    height: 400px;
    color: white;
}
.article1{
    width: 860px;
    background-color: white;
    height: 50px; 
    margin-left: 10px;
    margin-bottom: 10px;
}
#footer{
    background-color: #ffae00;
}